@charset "utf-8";
/* CSS Document */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.testgrid1 .ui-block-a {
	width:35%;
}

.testgrid1 .ui-block-b {
	width:65%;
}

.testgrid2 .ui-block-a {
	width:50%;
}

.testgrid2 .ui-block-b {
	width:50%;
}

.ui-bar-f
{
color:#FFF;
border-bottom-style:none;
background-color:#000;
}